:root {
    --spa-field-padding: 0.5rem 1rem;
    --spa-field-background: #fff;
    --spa-field-border-color: var(--spa-border-color, #aaa);
    --spa-field-border: 1px solid var(--spa-field-border-color);
    --spa-field-border-radius: 5px;
    --spa-field-height: 2rem;
    --spa-field-invalid-border-color: red;
    --spa-field-valid-border-color: rgb(16, 188, 0);

    --spa-field-hover-background: rgba(0, 0, 0, 0.02);
    /*#c9cbcd*/
    --spa-field-checkbox-checked-background: #51d95a;
    /*#6e79d6*/



    --spa-field-transition-time: 100ms;

    &.dark {}
}

textarea.spa-field {
    outline: 0;
}

.spa-field {
    line-height: var(--spa-field-height);
    display: inline-block;
    overflow: hidden;
    border: var(--spa-field-border);
    border-radius: var(--spa-field-border-radius);
    position: relative;
    padding: 0 1rem;
    margin: 0;
    white-space: nowrap;
    background-color: var(--spa-field-background);

    label {
        position: absolute;
        transition: transform 250ms;
        left: .5rem;
    }

    input {
        border: 0;
        outline: 0;
        padding: 0;
        font-size: 1rem;
        transition: all 250ms;
        background-color: transparent;

        width: calc(100% - 0.5rem);

        &::placeholder {
            color: transparent;
        }

        &:not(:placeholder-shown)+label {
            transform: translateY(-25%) scale(0.70);
        }
    }

    &:focus-within {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

        input+label,
        input:not(:placeholder-shown)+label {
            transform: translateY(-25%) scale(0.7);
        }
    }

    &:has(.icon) {
        input {
            width: calc(100% - 0.5rem - var(--spa-field-height) + 2px);
        }

        padding-right: 0;
    }

    .icon {
        display: inline-block;
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        width: var(--spa-field-height);
        text-align: center;
        background-color: color-mix(in srgb, var(--spa-field-background) 90%, #000);
        cursor: pointer;
        border-top-right-radius: var(--spa-field-border-radius);
        border-bottom-right-radius: var(--spa-field-border-radius);
        transform: translate(2px);

        &:hover {
            background-color: color-mix(in srgb, var(--spa-field-background) 80%, #000);
        }
    }

    /* ### invalid marking ### */
    &:has(input:invalid) {
        border-bottom-color: var(--spa-field-invalid-border-color);
        background-color: color-mix(in srgb, var(--spa-field-background) 90%, var(--spa-field-invalid-border-color));

    }

    &:hover:not(:has(input[type='checkbox'])) {
        background-color: var(--spa-field-hover-background);
        transition-duration: 0s;
    }
}

.form-grid {
    display: grid;
    grid-template-columns: 25% auto;

    >label {
        line-height: 2rem;
        padding-top: 2px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &:has(input[required]) {
        label::after {
            content: "*";

        }
    }
}

input[type=checkbox] {
    --spa-field-checkbox-bacground: #dfe1e4;
    appearance: none;
    background-color: var(--spa-field-checkbox-bacground);
    /* TODO fix background to val*/
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
    transition: all var(--spa-field-transition-time) ease-out;

    cursor: default;

    &::before {
        bottom: -6px;
        content: "";
        left: -6px;
        position: absolute;
        right: -6px;
        top: -6px;
    }

    &::after {
        background-color: #fff;
        border-radius: 50%;
        content: "";
        height: 1rem;
        left: 2px;
        position: absolute;
        top: 2px;
        width: 1rem;
        cursor: pointer;
        transition: all var(--spa-field-transition-time) ease-out;
    }

    &:hover {
        background-color: color-mix(in srgb, var(--spa-field-checkbox-bacground), var(--spa-field-hover-background));
        transition-duration: 0s;
    }

    &:checked {
        background-color: var(--spa-field-checkbox-checked-background);

        &::after {
            background-color: #fff;
            left: 12px;
        }

        &:hover {
            background-color: color-mix(in hsl, var(--spa-field-checkbox-checked-background), var(--spa-field-hover-background));
        }
    }
}


input[type=checkbox]:checked input[type=checkbox] :focus:not(.focus-visible) {
    outline: 0;
}