/* ### tiny grid used for easy layout ### */
:root {
  --spa-grid-gap: 1rem;
}

.spa-grid-2,
.spa-grid-3,
.spa-grid-4,
.spa-grid-5,
.spa-grid-6,
.spa-grid-7,
.spa-grid-8 {
  display: grid;
  gap: var(--spa-grid-gap, 1rem);
}

.spa-grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.spa-grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.spa-grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.spa-grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.spa-grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.spa-grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

.spa-grid-8 {
  grid-template-columns: repeat(8, 1fr);
}